button {
  min-width: 80px;
  height: 30px;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
  background-color: #2495eb;
  border: none;
  border-bottom: 1px solid ;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
}

button:hover {
  background-color: #57abeb;
}

button:active {
  background-color: #0b63a7;
}
