$namespace: "z";

.#{$namespace}-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--zeal-button-height);
  padding: var(--zeal-button-padding);
  font-size: var(--zeal-button-font-size);
  color: var(--zeal-text-color);
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  user-select: none;
  background-color: var(--zeal-button-bg-color);
  border: none;
  border-color: var(--zeal-b-color);
  border-radius: var(--zeal-border-radius);
  outline: none;
  transition: all 0.3s ease-in;

  $self: &;

  & + & {
    margin-left: var(--zeal-button-span);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: var(--zeal-opacity-disabled);
  }

  &:focus:not(&--disabled),
  &:hover:not(&--disabled) {
    color: var(--zeal-text-color-hover);
    background-color: var(--zeal-button-bg-color-hover);
    border-color: var(--zeal-b-color-hover);
  }

  &:active:not(&--disabled) {
    color: var(--zeal-text-color-active);
    background-color: var(--zeal-button-bg-color-active);
    border-color: var(--zeal-b-color-active);
  }

  &__border {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: 1px solid;
    border-color: inherit;
    border-radius: inherit;
  }

  &--primary {
    --zeal-button-bg-color: var(--zeal-brand-color-6);
    --zeal-button-bg-color-hover: var(--zeal-brand-color-5);
    --zeal-button-bg-color-active: var(--zeal-brand-color-7);
    --zeal-b-color: var(--zeal-brand-color-6);
    --zeal-b-color-hover: var(--zeal-brand-color-5);
    --zeal-b-color-active: var(--zeal-brand-color-7);
    --zeal-text-color: var(--zeal-gray-1);
    --zeal-text-color-hover: var(--zeal-gray-1);
    --zeal-text-color-active: var(--zeal-gray-1);
    --zeal-button-wave-color: var(--zeal-brand-color-6);

    &#{$self}--text,
    &#{$self}--dashed,
    &#{$self}--ghost {
      --zeal-text-color: var(--zeal-brand-color-6);
      --zeal-text-color-hover: var(--zeal-brand-color-5);
      --zeal-text-color-active: var(--zeal-brand-color-7);
    }
  }

  &--success {
    --zeal-button-bg-color: var(--zeal-success-6);
    --zeal-button-bg-color-hover: var(--zeal-success-5);
    --zeal-button-bg-color-active: var(--zeal-success-7);
    --zeal-b-color: var(--zeal-success-6);
    --zeal-b-color-hover: var(--zeal-success-5);
    --zeal-b-color-active: var(--zeal-success-7);
    --zeal-text-color: var(--zeal-gray-1);
    --zeal-text-color-hover: var(--zeal-gray-1);
    --zeal-text-color-active: var(--zeal-gray-1);
    --zeal-button-wave-color: var(--zeal-success-6);

    &#{$self}--text,
    &#{$self}--dashed,
    &#{$self}--ghost {
      --zeal-text-color: var(--zeal-success-6);
      --zeal-text-color-hover: var(--zeal-success-5);
      --zeal-text-color-active: var(--zeal-success-7);
    }
  }

  &--info {
    --zeal-button-bg-color: var(--zeal-info-6);
    --zeal-button-bg-color-hover: var(--zeal-info-5);
    --zeal-button-bg-color-active: var(--zeal-info-7);
    --zeal-b-color: var(--zeal-info-6);
    --zeal-b-color-hover: var(--zeal-info-5);
    --zeal-b-color-active: var(--zeal-info-7);
    --zeal-text-color: var(--zeal-gray-1);
    --zeal-text-color-hover: var(--zeal-gray-1);
    --zeal-text-color-active: var(--zeal-gray-1);
    --zeal-button-wave-color: var(--zeal-info-6);

    &#{$self}--text,
    &#{$self}--dashed,
    &#{$self}--ghost {
      --zeal-text-color: var(--zeal-info-6);
      --zeal-text-color-hover: var(--zeal-info-5);
      --zeal-text-color-active: var(--zeal-info-7);
    }
  }

  &--warning {
    --zeal-button-bg-color: var(--zeal-warning-6);
    --zeal-button-bg-color-hover: var(--zeal-warning-5);
    --zeal-button-bg-color-active: var(--zeal-warning-7);
    --zeal-b-color: var(--zeal-warning-6);
    --zeal-b-color-hover: var(--zeal-warning-5);
    --zeal-b-color-active: var(--zeal-warning-7);
    --zeal-text-color: var(--zeal-gray-1);
    --zeal-text-color-hover: var(--zeal-gray-1);
    --zeal-text-color-active: var(--zeal-gray-1);
    --zeal-button-wave-color: var(--zeal-warning-6);

    &#{$self}--text,
    &#{$self}--dashed,
    &#{$self}--ghost {
      --zeal-text-color: var(--zeal-warning-6);
      --zeal-text-color-hover: var(--zeal-warning-5);
      --zeal-text-color-active: var(--zeal-warning-7);
    }
  }

  &--error {
    --zeal-button-bg-color: var(--zeal-error-6);
    --zeal-button-bg-color-hover: var(--zeal-error-5);
    --zeal-button-bg-color-active: var(--zeal-error-7);
    --zeal-b-color: var(--zeal-error-6);
    --zeal-b-color-hover: var(--zeal-error-5);
    --zeal-b-color-active: var(--zeal-error-7);
    --zeal-text-color: var(--zeal-gray-1);
    --zeal-text-color-hover: var(--zeal-gray-1);
    --zeal-text-color-active: var(--zeal-gray-1);
    --zeal-button-wave-color: var(--zeal-error-6);

    &#{$self}--text,
    &#{$self}--dashed,
    &#{$self}--ghost {
      --zeal-text-color: var(--zeal-error-6);
      --zeal-text-color-hover: var(--zeal-error-5);
      --zeal-text-color-active: var(--zeal-error-7);
    }
  }

  &--dashed &__border {
    border-style: dashed;
  }

  &--dashed {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      --zeal-button-bg-color: var(--zeal-white);
      --zeal-button-bg-color-hover: var(--zeal-white);
      --zeal-button-bg-color-active: var(--zeal-white);
    }
  }

  &--ghost {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background: none !important;
    }
  }

  &--round {
    border-radius: var(--zeal-border-radius-round);
  }

  &--circle {
    border-radius: var(--zeal-border-radius-circle);
  }

  &--text {
    &,
    &:hover,
    &:active,
    &:focus {
      background: none !important;
    }
  }

  &--block {
    width: 100%;
  }

  &--strong {
    font-weight: bold;
  }

  &--small {
    --zeal-button-height: 28px;
    --zeal-button-font-size: 12px;
    --zeal-button-padding: 0px 14px;
  }

  &--medium {
    --zeal-button-height: 32px;
    --zeal-button-font-size: 14px;
    --zeal-button-padding: 0px 16px;
  }

  &--large {
    --zeal-button-height: 40px;
    --zeal-button-font-size: 18px;
    --zeal-button-padding: 0px 20px;
  }
}
