:root.dark{
  --zeal-brand-color-1: #1b2f51;
  --zeal-brand-color-2: #173463;
  --zeal-brand-color-3: #143975;
  --zeal-brand-color-4: #103d88;
  --zeal-brand-color-5: #0d429a;
  --zeal-brand-color-6: #054bbe;
  --zeal-brand-color-7: #2667d4;
  --zeal-brand-color-8: #4582e6;
  --zeal-brand-color-9: #699ef5;
  --zeal-brand-color-10: #96bbf8;

  /* text */
  --zeal-text-color:#f2f2f2
}
