:root,
:root.light {
  --zeal-brand-color-1: #e8f7ff;
  --zeal-brand-color-2: #c3e7fe;
  --zeal-brand-color-3: #9fd4fd;
  --zeal-brand-color-4: #7bc0fc;
  --zeal-brand-color-5: #57a9fb;
  --zeal-brand-color-6: #3491fa;
  --zeal-brand-color-7: #206ccf;
  --zeal-brand-color-8: #114ba3;
  --zeal-brand-color-9: #063078;
  --zeal-brand-color-10: #001a4d;
}
